<h2>User#Show だお</h2>
<ul class="list-group">
  <li class="list-group-item">
    <%= @user.full_name %>
  </li>
  <li class="list-group-item">
    <%= @user.role %>
  </li>
  <li class="list-group-item">
    <%= @user.job %>
  </li>
</ul>
<ul class="list-group">
  <% @user.engineer_contacts.each do |contact| %>
    <li class="list-group-item">
      <%= User.find(contact.engineer_id).full_name %>
    </li>
    <li class="list-group-item">
      <%= Language.find(contact.language_id).name %>
    </li>
    <li class="list-group-item">
      <%= contact.content %>
    </li>
    <br>
  <% end %>
</ul>

<%= render 'form' %>

<%= link_to '一覧に帰る', root_path, class: 'btn btn-primary', role: "button" %>