<div class="user-container">
  <div class="card border-dark">
    <div class="card-body">
      <div class="left">
        <div class="profile-img">
          <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar, class: 'img-thumbnail' %>
          <% else %>
            <%= image_tag 'default_icon.png', class: 'img-thumbnail' %>
          <% end %>
          <h3 class="card-title"><%= @user.full_name %></h3>
        </div>
        <div class="profile-text">
          <h4 class="card-title">所属 : <%= @user.collage.name %></h4>
          <h4 class="card-title">年齢 : <%= @user.polite_age %></h4>
          <p class="card-text ">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div class="right">
        <div class="profile-text">
          <h4 class="card-title">対応可能言語</h4>
          <p class="card-text"><%= @user.skills %></p>
        </div>
        <div class="contacts">
          <h4 class="card-title">対応した質問</h4>
          <table class="table table-hover">
            <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">内容</th>
              <th scope="col">質問受付日</th>
            </tr>
            </thead>
            <tbody>
            <% @user.user_contacts.each do |contact| %>
            <tr>
              <th scope="row"><%= contact.id %></th>
              <td><%= contact.content %></td>
              <td><%= I18n.l(contact.created_at, format: :default) %></td>
            </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'form' %>

<%= link_to '一覧に帰る', root_path, class: 'btn btn-primary', role: "button" %>