<!DOCTYPE html>
<html>
  <head>
    <title>GEEKTOWN</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/partials/header' %>
    <% if controller.controller_name == 'home' %>
      <div class="top-image-container">
        <%= image_tag 'home.jpg', class: 'top-image' %>
      </div>
    <% else %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render partial: 'layouts/partials/footer' %>
  </body>
</html>
